{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="font-serif p-2 lg:basis-1/2">
<h1>{{ page.title }}</h1>

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}


{{ page.content }}

{% if page.modified %}
<p>
  Last updated: {{ page.locale_modified }}
</p>
{% endif %}
</div>
{% endblock %}
